{% extends "base.html" %}

{% block projectsactive %}active{% endblock projectsactive %}
{% block title %}Projects{% endblock title %}
{% block body %}

      <!--this is card-->
      <div class="container my-3">
        <h2 class="text-center my-3 py-3">Projects</h2>
        <div class="row">
    
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?code,php,icpc,C++" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Coder</h5>
                <p class="card-text">I am a coder and I have solved many code in various online judge. If you want to see my code 
                  that I have solved just click the link 
                </p>
                <a href="https://github.com/Md-Ikbal-Hasan/ALL_Code" class="btn btn-primary">Code's Link</a>
              </div>
            </div>
          </div>
    
    
    
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?code,html,django,css" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Developer</h5>
                <p class="card-text">I have developed some applicatiopn like Web application, Android application, Desktop application, 
                  sql project etc.If you are interested to see my project just click the Link Button.</p>
                <a href="https://github.com/Md-Ikbal-Hasan/OnlineRentAdvertisementSystem" class="btn btn-primary">Projects Links</a>
              </div>
            </div>
          </div>
    
    
    
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?nature,green,forest" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Photographer</h5>
                <p class="card-text">I love to take photo of beautiful nature view.It's one of my favourite 
                  hobby. Click the button to see my photography
                </p>
                <a href="#" class="btn btn-primary">Photo Gallary</a>
              </div>
            </div>
          </div>
    
    
        </div>
      </div>
      

{% endblock body %}