{% extends 'studentapp/base.html' %} 
{% load static  %}

{% block body_block %}

<h1 class="text-center my-3">This is Home page</h1>
<img src=" {% static 'studentapp/images/school.jpg' %} " alt="DRMC College" class="img-fluid"  >  


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa amet quibusdam dolores dolore, dignissimos placeat eos. Deleniti assumenda nostrum incidunt iste cupiditate animi dignissimos. Fugiat expedita rerum, veritatis perferendis provident esse culpa
    quae voluptates quod excepturi libero eligendi dolorem consectetur incidunt commodi soluta laudantium! Ipsa, blanditiis sequi beatae placeat quibusdam provident dignissimos hic autem magnam fugit labore quam odio numquam, at consequuntur fuga aut
    iusto, distinctio deserunt error laudantium consectetur! Deleniti, aliquid velit perspiciatis id nobis repellat, repudiandae facilis alias est n.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, obcaecati inventore nam ipsum aperiam sunt repellat quod animi aspernatur cumque consectetur. Aliquid accusamus id asperiores! Laborum, recusandae consequatur tenetur neque ipsum hic ipsam
    blanditiis dignissimos, vitae cum exercitationem dolore cupiditate similique iusto alias quos nisi quaerat fugiat voluptates reprehenderit sint non nihil sed. Ut velit numquam laboriosam commodi explicabo facere illo! Minima porro eum aliquam reprehenderit
    debitis est magnam perspiciatis vitae laborum, possimus veniam? Facere ratione quaerat reiciendis molestiae quam.


    
</p>




{% endblock body_block %}