{% extends 'studentapp/base.html' %} {% block body_block %}

<h1 class="text-center my-3">Profile Page</h1>
<h3 class="mb-5">Welcome {{user.username}} </h3>

<table class="table ">
    <tbody>
        <tr>
            <th>Username</th>
            <td> {{user.username}} </td>
        </tr>
        <tr>
            <th>First Name</th>
            <td> {{user.first_name}} </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td> {{user.last_name}} </td>
        </tr>
        <tr>
            <th>Email</th>
            <td> {{user.email}} </td>
        </tr>

    </tbody>
</table>

<a href=" {%url 'studentapp:userupdate' user.id %}" class="btn btn-success btn-sm">Edit Profile</a>

<a href=" {% url 'studentapp:userchangepass' %} " class="btn btn-success btn-sm">Change Password</a>



<br> {% endblock body_block %}