{% extends 'Login_app/base.html' %} {% block body_block %}

<h3>Please Login:</h3>

<form method="POST" action="{%  url 'Login_app:user_login'%}">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Enter Username.." required>

    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" required placeholder="Enter Password..">

    <br>{% csrf_token %}
    <input type="submit" class="btn btn-success btn-sm" name="submit" value="Login">

</form>



{% endblock %}