{%extends "Login_app/base.html"%} {%load static%} {%block body_block%}
<!---
if I want to upload file using a form then i have to add
enctype="multipart/form-data"     into form tag
-->
{% if registered %}
<div class="alert alert-success">
    Congratulations ! Registration Successfull!
</div>

{%else%}
<form enctype="multipart/form-data" method="POST">
    {{user_form.as_p}} {{user_info_form.as_p}} {% csrf_token %}
    <input type="submit" class="btn btn-success" name="submit" value="Register">
</form>


{% endif %} {% endblock %}